* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(64, 163, 170);
}

.Header {
  color: #5b548a; /* Change the text color */
  text-align: center; /* Center the text */
  font-size: 2.5em; /* Increase the font size */
  font-family: "Poppins", sans-serif; /* Change the font family */
  margin-top: 20px; /* Add some margin at the top */
}
.container {
  width: 120%;
  max-width: 390px;
  background: linear-gradient(135deg, #4ca890, #5b548a);
  color: #fff;
  margin: 20px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.Search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.Search-box input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #5b548a;
  padding: 10px 15px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  text-align: center;
}

.Search-box button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 10px 15px;
}

.Search-box button img {
  width: 30px;
  height: 30px;
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weather-icon {
  width: 100px;
  height: 100px;
}

.temp {
  font-size: 2em;
}

.description {
  font-size: 1.5em;
}

.Weather-details {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.humidity,
.wind_speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.info-humidity,
.info-wind_speed {
  display: flex;
  align-items: center;
  color: #c3c1d1; /* Change the text color */
  text-align: center; /* Center the text */
  font-size: 1.5em; /* Increase the font size */
  font-family: "Poppins", sans-serif; /* Change the font family */
  margin-top: 50px; /* Add some margin at the top */
}

p {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  color: #d4d4da;
}
.info-humidity img,
.info-wind_speed img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
